.servicesoffered {
    width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.secondView {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.frontPageBlocks {
  width: 17vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin-top: 30px;
  background-color: rgb(236, 231, 231);
  font-size: larger;
  cursor: pointer;
}

.frontPageBlocks:hover {
  background-color: #2e4650;
  color: white;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.frontPageBlockPageInfo {
    height: 80px;
    padding: 25px;
    font-size: x-large;
    font-weight: bold;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 231, 231);
    margin-top: 20px;
  }
  .contentHeading {
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT,
      Times New Roman, serif;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .contentHeadingLarge {
    font-size: xxx-large;
    font-weight: bold;
  }
  
.back-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: 0.25rem;
  bottom: -5em;
  width: 3em;
  pointer-events: none;
}
.sectionBarHomepage {
  height: 80px;
  width: 100vw;
  background-image: linear-gradient(#f3b9a5, white);
}
